# Python virtual environment files
venv/

# Python cache files
__pycache__
*.pyc

# vscode settings
.vscode/

# Ignore NeST output
*_dump/
data
debug
flent
chromeTmpDir

# Ignore Graphs
Graphs

# logs
*.log

# Output on nest install
nitk_nest.egg-info

dash.js-master/bbb
