# Python virtual environment files
venv/

# Python cache files
__pycache__
*.pyc

# vscode settings
.vscode/

# Ignore NeST output
*_dump/
noqueue
pfifo
codel
pie
fq_pie
cake
fq_codel
cobalt
fq_minstrel_pie
dash_*
flent
tcpdump
ipcmd
ethtool
tc
udpBurstDebug_*

# Ignore dash files
dash_*

# Ignore Graphs
Graphs

# logs
*.log

# Output on nest install
nitk_nest.egg-info

dash.js-development/bbb
