# Python virtual environment files
venv/

# Python cache files
__pycache__
*.pyc

# vscode settings
.vscode/

# Ignore NeST output
*_dump/
noqueue
pfifo
fq_pie
cake
fq_codel
cobalt
fq_minstrel_pie

# logs
*.log

# Output on nest install
nitk_nest.egg-info
